.content {
  display: grid;
  color: black;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.price {
  font-weight: bold;
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
  padding: 25px;
  border-bottom: 1px solid #DDD;
  border-right: none;

  &:first-child {
    border-top: 1px solid #DDD;
  }

  &:nth-child(4n) {
    border-right: none;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    border-right: 1px solid #DDD;

    &:nth-child(-n+4) {
      border-top: 1px solid #DDD;
    }
  }
}

.image {
  width: 100%;
}
