.content {
  display: grid;
  color: black;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-details-header {
  display: flex;
  border-bottom: 1px solid #DDD;
}

.back-link {
  color: grey;
  flex: 1;
  font-size: 34px;
  font-weight: 100;
  line-height: 40px;
  padding: 24px 0;
  text-align: center;
  text-decoration: none;
}

.product-title {
  flex: 10;
}

.carousel-section {
  margin: 40px auto;
  max-width: 400px;
}

.product-section {
  display: flex;
  flex-direction: column;
  padding: 0 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .info-section {
    flex: 6;

    h3 {
      text-transform: capitalize;
      color: grey;
      font-size: 24px;
      font-weight: 100;
    }

    .product-specification {
      list-style-type: none;
      padding: 0 40px 0 0;
      margin-bottom: 40px;

      li {
        padding: 15px 0;
        font-size: 16px;
        font-weight: 100;
        color: grey;
        border-top: 1px solid #DDD;
        display: flex;
        justify-content: space-between;

        .name {
          font-weight: 400;
        }
      }
    }

    .product-info {
      padding: 0 40px 40px 0;
      border: 0;
    }
    

    @media screen and (min-width: 768px) {
      border-right: 1px solid #DDD;
    }
  }

  .mobile-pricing-section {
    display: block;
    padding: 20px;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .desktop-pricing-section {
    display: none;
    flex: 4;
    padding: 40px;
  
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.display-price {
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.offer {
  color: maroon;
  text-transform: capitalize;
  margin-bottom: 10px;
  line-height: 26px;
}

.guarantee {
  color: grey;
  text-transform: capitalize;
}

.read-more {
  padding: 20px 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-bottom: 40px;
  display: none;

  a {
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    margin-right: 40px;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}
